*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: antiquewhite;
}
.display{
    font-size: 30px;
}

h1{
    text-align: center;
    margin-bottom: 80px;
}

.calculator{
    width: 300px;
    margin: auto;
    background-color: gold;

}
.display{
    background-color: orange;

    margin-bottom: 10px;
    padding: 5px;
    text-align: right;

    height: 50px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons button, div.bottom *{
    font-size: 20px;
    width: 70px;
    padding: 10px 0;
    background-color: lightgreen;
    margin-bottom: 5px;

    border-radius: 10px;
}

.buttons .operation{
    background-color: rgb(249, 91, 91);
}

.buttons button:hover, button.dot:hover, div.bottom button:hover{
    background-color: black;
    color: white;
}

div.bottom *{
    width: 49%;
    height: 50px;
    display: inline;

}
button.bottom #zero{
    margin-top: 0;
}
